{% extends 'quotes/base.html' %}

{% load widget_tweaks %}
    
{% block content %}
    <div class="add_tag">
        <form method="POST" action="{% url 'quotes:author' %}">
            {% csrf_token %}
            </br>
            <div class="adt_field" >
                <h1>Add Author </h1>
                </br>
                <label> Name:
                    {% render_field form.name placeholder="Name" class+="form-control" %}
                    </br>
                    Born date :
                    {% render_field form.born_date placeholder="Born date" class+="form-control" %}
                    </br>
                    Born location:
                    {% render_field form.born_location placeholder="Born location" class+="form-control" %}
                    </br>
                    Description:
                    {% render_field form.description placeholder="Description" class+="form-control" row="20" %}
                </label>
                <span>{{ form.errors.name }}</span>
            </div>
            </br>
            <div class="grid">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
{% endblock %}