h1{
    padding: 10px;
}

.add-container{
    padding: 10px;
}

.tag-selector-container{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.tag-selector-container label {
    font-size: 17px;
}

.tag-selector-container select {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    outline: none;
    margin-bottom: 10px;
}

.button-group{
    padding: 10px;
}