{% extends "quotes/base.html" %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
       There was an error with your form...
    </div>
{% endif %}
    <h1>Register</h1>

    <form action="{% url 'users:register' %}" method="POST">
        
        {% csrf_token %}
        <div>
            <lable> Username:
                {{ form.username }}
            </lable>
            <span>{{ form.errors.username }} </span>
        </div>
        <div>
            <lable> Email:
                {{ form.email }}
            </lable>
            <span>{{ form.errors.email }} </span>
        </div>
        <div>
            <lable> Password:
                {{ form.password1 }}
            </lable>
            <span>{{ form.errors.password1 }} </span>
        </div>    
         <div>
            <lable> Password confirmation:
                {{ form.password2 }}
            </lable>
            <span>{{ form.errors.password2 }} </span>
        </div>    

    <br/>
        <div class="grid">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>

{% endblock %}